body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  color: #111;
  margin: 0;
  padding: 0;
}

header {
  background-color: #009c3b;
  color: white;
  padding: 1em;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 2em;
}

footer {
  text-align: center;
  background-color: #002776;
  color: white;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.campo {
  width: 90%;
  max-width: 500px;
  background: linear-gradient(to bottom, #006400, #228B22);
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
  color: white;
  font-weight: bold;
  text-align: center;
}

.campo div {
  margin: 5px 0;
}

.goleiro {
  background-color: #004400;
  padding: 5px;
  border-radius: 5px;
}

.zaga, .meio, .ataque {
  display: flex;
  justify-content: space-around;
}

.zaga div, .meio div, .ataque div {
  background-color: rgba(255,255,255,0.1);
  padding: 4px;
  border-radius: 4px;
  width: 22%;
}
